.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  max-width: 90%;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container p {
  margin-left: 20px;
}

.ok-button {
  background-color: rgb(194, 28, 13);
  color: white;
  border: none;
  box-shadow: none;
  padding: 10px;
  font-weight: 600;
  font-size: small;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
  margin-top: 15px;
}