.delete-button {
  background-color: rgb(188, 28, 4);
  color: white;
  border: none;
  box-shadow: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
  margin: 0;
}

