table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: auto;
  margin-top: 5px;
  width: 98%;
}

th {
  text-align: left;
}
th, td {
  padding: 5px 10px;
}

tr:nth-child(even) {
  background-color: rgb(229, 229, 229)
}

th {
  background-color: rgb(39, 149, 79);
  color: white;
}