.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  max-width: 90%;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}